.favorite {
  text-align: right
}

.buttons-block {
  display: flex;
  justify-content: center;
}

.jokes {
  display: block;
  margin-bottom: 10px;

  .block1 {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;

  }
 
  .block2 {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
  }
}

.block-fav {
  border: 1px solid rgb(231, 26, 26);
  background-color: rgb(231, 26, 26);;
}

.item {
  display: flex;

}
.deleteitem {
  border: 1px solid rgb(231, 26, 26);
  background-color: rgb(43, 231, 26);
}

